* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #636c79;
    min-height: 100vh;
}
.header-wrap {
    max-width: 1280px;
    margin: 0 auto;
}
.navbar-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 14vh;
}
.logo {
    display: block;
}
.logo img {
    width: 120px;
}

.nav-list-wrap {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: -1rem;
}


.nav-item {
    color: #dfe1e4;
    font-weight: 500;
}

.btn {
    margin-left: 4rem;
    padding: 11px 25px;
    background-color: transparent;
    border: 1px solid #dbf5f759;
    color: white;
}
.hamburger {
    display: none;
}
@media screen and (max-width: 864px) {
    .nav-list-wrap {
        display: none;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger i {
        font-size: 1.4rem;
        color: #FFFFFF;
    }
    .navbar-wrap {
        padding: 0 20px;
    }
}


.meeting-img {
    width: 465px;
    height: 550px;
    overflow: hidden;
    border-radius: 8px;
}

.meeting-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-sec {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
}

.header-sec h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #ffff;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Raleway";
}

.header-sec p {
    margin-bottom: 2rem;
    line-height: 2rem;
    color: #ffff;
}

.block {
    position: relative;
    max-width: 500px;
    height: 65px;
    background-color: #fff;
}

.mail-icon {
    position: absolute;
    top: 40%;
    left: 1rem;
}

.block>input {
    position: absolute;
    padding-left: -1rem;
    margin-left: 3rem;
    padding-top: 27px;
    padding-bottom: 10px;
    border: none;
    width: 60%;
    color: rgb(125, 118, 118);
    font-size: 12px;
}

.btn1 {
    background-color: #9bbda1;
    border: none;
    position: absolute;
    top: 1.5rem;
    right: .5rem;
    margin-top: -11px;
    margin-left: 25rem;
    height: 43px;
    width: 105px;
    color: white;
}

@media screen and (max-width:1095px) {
    .header-sec {
        gap: 0px !important;
    }

    header {
        padding-bottom: 3rem;
    }

    .header-sec h1 {
        margin-top: 2rem;
    }
}
@media screen and (max-width:700px) {
    .header-sec {
        padding: 0 20px;
    }

    header {
        padding-bottom: 3rem;
    }

    .header-sec h1 {
        margin-top: 2rem;
    }
}

.business-sec {
    max-width: 1180px;
    margin: 0 auto;
}

.business-sec h2 {
    margin-top: 5rem;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    font-family: "Raleway";
    color: #171a1e;
}

.count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 40px;
}
.count div {
    text-align: center;
    margin-top: 20px;
}

.count h1 {
    margin-top: 2rem;
    font-size: 34px;
}

.projectLists {
    font-size: 16px;
    padding-top: 5px;
    color: #454545;
    font-weight: 500;
}

.image-2 {
    margin-top: 3rem;
    width: 100%;
    height: 570px;
    overflow: hidden;
}

.image-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

@media screen and (max-width: 900px) {
    .image-2 {
        height: 400px;
    }
}

.business-target-sec {
    margin-top: 5rem;
}

.target-title {
    margin-top: 6rem;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    font-family: "Raleway";
    color: #171a1e;
}

.image-3 {
    height: 500px;
    width: 500px;
    overflow: hidden;
}

.image-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.website-sec {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.website-sec h2 {
    margin-top: 6rem;
    font-size: 35px;
    font-family: "Raleway";
    color: #171a1e;
}

.website-sec p {
    margin-top: 1rem;
    color: gray;
    line-height: 1.5rem;
    font-size: 18px;
}

.btn2 {
    margin-top: 2rem;
    padding: 12px 22px;
    background-color: #9bbda1;
    border: none;
    color: white;
}

.client-sec {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap-reverse;
}

.marketing-title h1 {
    margin-top: 3rem;
    font-size: 37px;
    font-family: "Raleway";
}

.marketing-title p {
    margin-top: .5rem;
    font-size: 18px;
    line-height: 2rem;
    color: gray;
}

.image-4 {
    height: 530px;
    width: 500px;
    overflow: hidden;
}

.image-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right top;
}

.btn3 {
    margin-top: 1rem;
    padding: 12px 22px;
    background-color: #9bbda1;
    border: none;
    color: white;
}


.health-care-sec {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.healthCare-title h1 {
    margin-top: 4rem;
    font-size: 35px;
    font-family: "Raleway";
}

.healthCare-title p {
    margin-top: 1rem;
    font-size: 20px;
    line-height: 2rem;
    color: #758283;
}
.image-5 {
    height: 530px;
    width: 500px;
    overflow: hidden;
}

.image-5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* ------------------------ team-sec ---------------------------*/
.team-img-wrap {
    height: 450px;
    width: 100%;
}

.team-img-wrap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.team-card:nth-child(2) .team-img-wrap {
    height: 450px;
    width: 100%;
}
.team-card:nth-child(2) .team-img-wrap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.team-members {
  padding-top: 20px;
}
.team-members h3 {
    color: #171a1e;
    font-family: "Raleway";
}
.team-members p {
        margin-top: 1rem;
        line-height: 1.5rem;
        color: rgb(53, 53, 53);
        font-weight: 400;
}

.btn4 {
    margin-top: 2rem;
    padding: 12px 30px;
    background-color: #9bbda1;
    border: none;
    color: white;
}

.team-sec {
    padding-top: 8rem;
    max-width: 1180px;
    margin: 0 auto;
}

.team-imgs {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-title-bar h1 {
    font-size: 40px;
    font-family: "Raleway";
    color: #171a1e;
}

.team-title-bar p {
    color: rgb(75, 75, 75);
    line-height: 2rem;
    font-size: 17px;
    font-weight: 500;
}

.see-more-btn {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.btn5 {
    padding: 12px 38px;
    background-color: #9bbda1;
    border: none;
    color: white;
    display: block;
}

@media screen and (max-width: 1075px) {
    .team-sec {
        padding: 0 40px;
        padding-top: 7rem;
    }
}


 
footer {
    margin-top: 5rem;
    background-color: #171a1e;
    position: relative;
    padding-bottom: 20px;
}

.footer-wrap {
    max-width: 1180px;
    margin: 0 auto;
}

.nav-footer {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #444e5c;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.logos {
    display: block;
}

.logos img {
    width: 75%;
}

.end-div {
    display: flex;
    flex-direction: column;
}

.circle {
    display: flex;
    height: 43px;
    width: 43px;
    background-color: rgba(128, 128, 128, 0.527);
    justify-content: space-around;
    margin-right: 1rem;
    align-items: center;
    border-radius: 2rem;
}

.social-icons {
    display: flex;
    justify-content: end;
    color: white;
    margin-right: -1rem;
}

.footer-body {
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
    line-height: 2rem;
    color: white;
    list-style: none;
    flex-wrap: wrap;
    row-gap: 40px;
}

.list1 li {
    color: #758283;
    list-style: none;
}

@media screen and (max-width: 800px) {
    .footer-wrap {
        padding: 0 20px;
    }
}